alembic
annotated-doc
annotated-types
anyio
click
colorama
fastapi
greenlet
h11
idna
Mako
MarkupSafe
pip
psycopg2-binary
pydantic
pydantic-settings
pydantic_core
python-dotenv
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn